/* common class css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.common-btn a {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    height: 44px;
    background: #469165;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0 17px;
    border-radius: 4px;
    transition: .3s linear;
    border: 1px solid transparent;
}

.common-btn a:hover {
    color: black;
    border: 1px solid #469165;
    background: white;
}

.common-btn-2 a {
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0 16px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: .3s linear;
}

.common-btn-2 a:hover {
    color: white;
    border: 1px solid #469165;
    background: #469165;
}

.section-title-wrapper {
    margin-bottom: 45px;
}

.section-title {
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    color: #001931;
    margin-bottom: 10px;
}

.common-text,
.section-title-wrapper p {
    font-weight: 400;
    font-size: 16px;
    color: #627382;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-70 {
    margin-top: 70px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}

.bg-gray {
    background: #FBFBFB;
}

/* header css */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.header-main-menu nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-main-menu nav ul li a {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    opacity: 0.9;
    transition: .2s linear;
    border-bottom: 1px solid transparent;
}

.header-main-menu nav ul li a:hover {
    border-bottom: 1px solid #469165;
    color: #469165;
}

/* hero css */
.hero-area {
    background-image: url(../img/bg/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
    z-index: 1;
}

.hero-area::before {
    position: absolute;
    content: '';
    background: #001931;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 80%;
    z-index: -1;
}

.early-access-text {
    font-weight: 500;
    font-size: 16px;
    color: #469165;
    height: 35px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 12px;
}

.early-access-text i {
    border-radius: 100%;
    width: 6px;
    height: 6px;
    background: #469165;
    position: relative;
    z-index: 1;
    display: block;
}

/* FIRST WAVE */
.early-access-text i::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #469165a8;
    border-radius: 100%;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: pulse1 2s infinite ease-out;
}

/* SECOND WAVE */
.early-access-text i::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: #78ec8b;
    border-radius: 100%;
    z-index: -3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: pulse2 2s infinite ease-out;
}

/* KEYFRAMES */
@keyframes pulse1 {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    70% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulse2 {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
    }

    70% {
        transform: translate(-50%, -50%) scale(3.5);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    color: white;
}

.hero-title span {
    color: #30B868;
}

.hero-text p {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 16px;
    line-height: 1.7;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* nots css */
.nots-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    background: white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s linear;
}

.nots-card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.20);
    transform: scale(1.3);
    border: 1.5px solid #30B868;
}
.nots-card:hover .nots-icon  {
    background: #30B868;
}

.nots-icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #f95555;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
}

.nots-card-title {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: #001931;
}

.nots-card-area{
    display: flex;
}